body {

     background-color: rgb(255, 0, 0);
     color: black;
     margin: 0px;
     font-family: "Libre Baskerville", serif;
     margin-bottom: 25px;
}

header {
     border-bottom: solid 2px white;
     padding: 10px;
     font-size: 50px;
}

.chamada {
     background-color: rgb(255, 0, 0);
     padding-top: 20px;
     padding-bottom: 20px;
     display: flex;
     justify-content: center;
}

.chamada-texto {
     margin-right: 12%px;
}

h1 {
     font-size: 35px;
}

p {
     font-size: 25px;
}

img {
     height: 200px;
}

.categoria-videos {
     display: flex;
     overflow-x: auto;
     gap: 10px;
}

.categoria {
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 30px;
}

.categoria-videos img {
     opacity: 0.5;
     height: 200px;
}

.categoria-videos img:hover {
     opacity: 1.0;
     border: 4px solid white;
}

h2 {
     color: black;
}
